
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <link rel="icon" href="~/images/fevicon.png" type="image/gif" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Dang Van Doan Shop</title>


    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />

    <!-- font awesome style -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />

</head>

<body>
    <!-- Kết hợp giữa Code PHP và Visual Studio. -->
    <!-- bây giờ là sẽ Code vào đây. -->
    <thead>
        <!-- Thẻ để tạo bảng. -->
        <tr>
            <!-- Thẻ xác định phần tử của bảng. -->
            <th>ID</th> <!-- xác định phần tử của ô tiêu đề trong hàng -->
            <th>----Tên----</th>
            <th>----Giá----</th>
        </tr>
    </thead>
    <!-- Thẻ tBody để in các dữ liệu -->
    <tbody>

        <!-- In thủ công thì sẽ mất thời gian. -->
        <tr>
            <br>
            <!-- Thẻ tr xác định phần tử của bảng. -->
            <td>1</td> <!-- xác định một dữ liệu ô -->
            <td>----Bút chì----</td>
            <td>----10.000đ----</td>
        </tr>

        <tr>
            <br>
            <!-- Thẻ tr xác định phần tử của bảng. -->
            <td>2</td> <!-- xác định một dữ liệu ô -->
            <td>----Bút bi----</td>
            <td>----15.000đ----</td>
        </tr>

        <!--Sử dụng vòng lặp While để in tự động.-->
        <!--Phải kết nối cơ sở dữ liệu.-->

        @{

            List<SanPhamDTO> ls = SanPhamDAO.Instance.GetListSP();

            foreach (SanPhamDTO item in ls)
            {

                <tr>
                    <br>
                    <!-- Thẻ tr xác định phần tử của bảng. -->
                    <td>-----@item.Id-----</td>
                    <td>-----@item.Ten-----</td>
                    <td>-----@item.Gia-----</td>
                </tr>
            }




        }
        Html.RenderPartial("SanPhanDungChung"); 



    </tbody>

</body>

</html>
