@model List<DTO.DanhMucDTO>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel=" stylesheet" href="~/css/Categorycss.css" />
    <title>Danh mục sản phẩm</title>
</head>
<body>
    <header>
        <h1>TOP</h1> <!--Sẽ làm nội dung cho phần Header sau -->
    </header>
    <section class="admin-content">
        <div class="admin-content-left">
            <ul>
                <li>
                    <a href="">Sản phẩm</a>
                    <ul>
                        <li><a href="">Tất cả sản phẩm</a></li>
                        <li><a href="">Thêm mới</a></li>
                        <li><a href="">Danh mục</a></li>
                        <li><a href="">Các thuộc tính</a></li>
                    </ul>
                </li>
                `
                <li>
                    <a href="">Thành viên</a>
                    <ul>
                        <li><a href="">Tất cả thành viên</a></li>
                        <li><a href="">Thêm thành viên</a></li>
                    </ul>
                </li>
            </ul>

        </div>
        <div class="admin-content-right">
            <div class="admin-content-right-category_add">
                <h1>Thêm Danh Mục</h1>
                <form action="" method="POST">
                    <input type="text" placeholder="Nhập tên danh mục" />
                    <button type="submit">Thêm</button>
                </form>
            </div>
        </div>
        <div class="danh-sach-danh-muc">
            <div class="ds-danh-muc">

                <table>

                    <caption><h1>Danh sách danh mục sản phẩm</h1></caption>

                    <tr>
                        <th>ID</th>
                        <th>Tên danh mục</th>
                        <th>Mô tả</th>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>31</td>
                        <td>25</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>29</td>
                        <td>27</td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>31</td>
                        <td>28</td>
                    </tr>

                </table>

            </div>
        </div>

        <thead>
            <!-- Thẻ để tạo bảng. -->

        </thead>
        <!-- Thẻ tBody để in các dữ liệu -->
        <tbody>

            <!-- In thủ công thì sẽ mất thời gian. -->
            <!--Sử dụng vòng lặp While để in tự động.-->
            <!--Phải kết nối cơ sở dữ liệu.-->
            <h1>Danh sách danh mục</h1>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên danh mục</th>
                        <th>Mô tả</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.TENDM</td>
                            <td>@item.MOTA</td>
                        </tr>
                    }

                </tbody>

            </table>

        </tbody>

    </section>
</body>
</html>

