body {
}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    height: 100px;
    width: 100vw;
    border-bottom: 2px solid #00ffff;
    text-align: center;
    background-color: #ead0ee;
}

.admin-content {
    padding-top: 50px;
    display: flex;
}

.admin-content-left {
    background-color: #dbf2d3;
    width: 20%;
    height: 100vh;
    padding: 30px 0 0 12px;
}

    .admin-content-left > ul > li > a { /*dấu > là để CSS cho thẻ trực tiếp */
        font-weight: bold;
    }

    .admin-content-left ul li {
        margin: 6px 0;
    }

    .admin-content-left ul ul {
        margin-left: 20px;
    }

.admin-content-right {
    background-color: greenyellow;
    width: 20%;
    padding: 30px 0 0 12px;
}



.admin-content-right-category_add input {
    height: 30px;
    width: 200px;
    padding-left: 12px; /*Điều chỉnh độ rộng của ô nhập liệu.*/
    margin-top: 20px;
}

.admin-content-right-category_add button {
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: brown;
    border: none;
    color: white;
    transition: all 0.3s ease;
}

    .admin-content-right-category_add button:hover {
        background-color: transparent;
        border: 1px solid brown;
        color: brown;
    }



/*----Căn chỉnh bảng danh mục:----*/




/*Chỉnh phần trên để cho cách xa thẻ h1.:*/

.admin-content-category_list table {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.admin-content-category {
    width: 40%;
    padding: 30px 0 0 12px;
    background-color: #ffffff;
}

.admin-content-category_list table tr th, td {
    border: 1px solid black;
}


table {
    border-collapse: collapse;
}

.NutBam {
    text-decoration-color: red;
}

.sua-danh-muc {
    margin-left: 20px;
    background-color: red;
    width: 20%;
    padding: 30px 0 0 12px;
}

.sua-danh-muc-moi input {
    height: 30px;
    width: 200px;
    padding-left: 12px; /*Điều chỉnh độ rộng của ô nhập liệu.*/
    margin-top: 20px;
}

.sua-danh-muc-moi button {
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: brown;
    border: none;
    color: white;
    transition: all 0.3s ease;
}

    .sua-danh-muc-moi button:hover {
        background-color: transparent;
        border: 1px solid brown;
        color: brown;
    }



body {
}
